<div class="eos-container">
  <div id="eos-info">
    <div class="eos-info-title">
      <h3>{{ texts.info.title }}</h3>
    </div>
    <div class="eos-info-text">
      <p>{{ texts.info.text }}</p>
    </div>
  </div>
</div>