<html>
<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">  
  <title>{{texts.head.titlePage}} - {{texts.head.titleMain}}</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet"> 

  {% for strPathAndFileName in mixFilesStyle %}
  <link href="/{{strPathAndFileName}}" rel="stylesheet">
  {% endfor %}
</head>
<body>
  <div id="eos-wrapper">
    <header>
      {% block header %}{% endblock %}
    </header>

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
      {% block footer %}{% endblock %}
    </footer>

    {% for strPathAndFileName in mixFilesScript %}
    <script type="text/javascript" src="/{{strPathAndFileName}}"></script> 
    {% endfor %}
  </div>
</body>
</html>