{% extends "_layout.twig" %}

<!-- head extensions -->
{% block title %}Index{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

<!-- body extensions -->
{% block header %}
    <h4>Some header</h4>
{% endblock %}

{% block content %}
    <h1>Index</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
{% endblock %}

{% block header %}
    <h4>Some footer</h4>
{% endblock %}
